<section class="tsd-panel tsd-member {{cssClasses}}">
  <a name="{{anchor}}" class="tsd-anchor"></a>
  <h3>{{#compact}}{{#each (relevantFlags)}}{{> flag}}&nbsp;{{/each}}{{/compact}}{{{wbr name}}}</h3>
  {{#if renames}}
    Renames {{#with (getReflection renames)}}<a href="{{relativeURL url}}">{{{wbr name}}}</a>{{/with}}
  {{else}}
    {{#if signatures}}
        {{> member.signatures}}
    {{else}}{{#if hasGetterOrSetter}}
        {{> member.getterSetter}}
    {{else}}
        {{> member.declaration}}
    {{/if}}{{/if}}
     {{#each groups}}
        {{#each children}}
            {{#unless hasOwnDocument}}
                {{> member}}
            {{/unless}}
        {{/each}}
    {{/each}}
  {{/if}}
</section>
